
   <!-- Hero Section -->
    <section class="hero d-flex align-items-center text-center text-white">
        <div class="container">
            <h1 class="display-4 fw-bold">Conecta con productores locales</h1>
            <p class="lead">Alimentos frescos, orgánicos y sostenibles a tu alcance</p>
            <a href="#" class="btn btn-lg btn-success text-light fw-bold me-2">Explorar catálogo</a>
            <a href="" class="btn btn-lg btn-outline-light">Conoce más</a>
        </div>
    </section>

    <!-- Beneficios -->
    <section class="py-5">
        <div class="container text-center">     
            <h2 class="mb-4 fw-bold">¿Por qué EcoMarket?</h2>
            <div class="col-g-3 justify-content-center row">
                <div class="col-sm-3">
                    <div class="card h-100 shadow-sm mx-4">
                        <div class="card-body">
                            <h5 class="card-title text-seccess">Apoyo local</h5>
                            <p class="card-text">Conecta directamente con pequeños productores</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card h-100 shadow-sm mx-4">
                        <div class="card-body">
                            <h5 class="card-title text-seccess">Alimentos Orgánicos</h5>
                            <p class="card-text">Encuentra alimentos frescos, naturales y 100% orgánicos</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card h-100 shadow-sm mx-4">
                        <div class="card-body">
                            <h5 class="card-title text-seccess">Sostenibilidad</h5>
                            <p class="card-text">Fomenta el consumo responsable y cuida el ambiente</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Sobre EcoMarket -->
    <section id="Nosotros" class="py-5 bg-light">
        <div class="container text-center">
            <h2 class="fw-bold mb-4">Sobre EcoMarket</h2>
            <p class="lead">EcoMarket es una plataforma diseñada para apoyar a pequeños productores locales,
            brindando a los consumidores acceso a alimentos orgánicos y frescos,
            promoviendo la economía local y el consumo sostenible.</p>
        </div>
    </section>

    <!-- Footer -->
    <footer class="bg-dark text-white py-4">
        <div class="container text-center">
            <p>&copy; 2025 EcoMarket | Conectando consumidores con productores locales</p>
            <p>
                <a href="#" class="text-white me-2">Facebook</a> |
                <a href="#" class="text-white me-2">Instagram</a> |
                <a href="#" class="text-white">X</a> |
            </p>
        </div>
    </footer>