.hero {
    background: url('../../../assets/images/lp-bg.jpg') no-repeat center center/cover;
    min-height: 100vh;
    position: relative;
}

.hero .container {
    position: relative;
    z-index: 1;
}


.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
}

